body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #a4aca4;    
}
.main-body {
    padding: 15px;
}

section{
    background-color: #467485;
    padding: 5px;
    margin: 3px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: chartreuse;
}
input {
    /* Your styles here */
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Targeting input with specific type */
input[type="text"] {
    /* Your styles here */
    background-color: #f9f9f9;
}

/* Targeting input with specific class */
.custom-input {
    /* Your styles here */
    color: blue;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.company-name {
    font-weight: bold;
    font-size: 20px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
